@font-face {
  font-family: "bangers";
  src: url("./fonts/bangers-regular-webfont.woff");
  }

  @font-face {
     font-family: "charm-bold";
  src: url("./fonts/charm-bold-webfont.woff");
  }

  h1,h2,h3 {
    font-family: "bangers";
    font-size: 300%;
  }
  h4,a,label{
    color: #f2f2f2;
    font-family: "charm-bold";
  }
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.component{
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: screen;
  background-color: #455a64;
}
.title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(25, 10, 167);
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}

.app-users{
  display: flex;
  background-color: brown; 
  flex-flow: row;
  border-radius: 1%;
  margin: 10%;
}
.user-1{
  background-color: blueviolet; 
  border-radius: 1%;
  margin: 5%;
}
.user-2{
  background-color: aquamarine; 
  border-radius: 1%;
  margin: 5%;
}
.user-3{
  background-color: aqua; 
  border-radius: 1%;
  margin: 5%;
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-left: 200px;
}

#table td, #table thead {
  border: 1px solid #ddd;
  padding: 8px;
  border: solid;
}

#table tbody:nth-child(even){background-color: #f2f2f2;}

#table tbody:hover {background-color: #ddd;}

#table thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5899ee;
  color: white;
}

.table{
  border-width: 10px;
  border-color: #5899ee;
}

.thumbnail{
  width: 15%;
}

.red-paragraph{
  color: red;
  font-family: 'Times New Roman', Times, serif;
}

.green-paragraph{
  color: green;
  font-family: 'Courier New', Courier, monospace;
}

.blue-paragraph{
  color: blue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.black-paragraph{
color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rigth{
text-align: right;
}

.center{
text-align: center;
}

.left{
text-align: left;
}

.new-background{
  background-color: rgb(169, 165, 214);
}
.original-background{
  background-color: gainsboro;
}

.input{
  margin: 10px;

}